.container {
  padding: 20px;
}

.divider {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* ====== PROFILE ===== */

.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.delete_modal_header {
  background-color: var(--danger-color);
  & p {
    color: #fff;
  }
  & svg {
    color: #fff !important;
  }
}
.delete_modal_footer {
  & > button:last-child {
    background-color: var(--danger-color);
  }
}
/* ====== INFO ===== */

.info_field {
  width: calc(50% - 4px);
}

.credits {
  padding-bottom: 20px;
}

.save_button {
  width: 120px;
  align-self: flex-end;
}

.experience {
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 10px;
}

.status--declined {
  background: var(--danger-color);
}
.status--approved {
  background: var(--success-color);
}
