.container {
  padding: 20px;
  /* background-color: #fff;
  border-radius: var(--border-radius-m); */
}

.divider{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.block {
}

.block_title {
  height: 25px;
}

.profile {
  /* padding-top: 50px; */
}
.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info_field {
  width: calc(50% - 4px);
}

.credits{
  padding-bottom: 20px;
}

.save_button{
  width: 120px;
  align-self: flex-end;
}

.experience {
}
