@import url('./reset.css');
@import url('./variables.css');

* {
  /* color: var(--text-primary-color); */
  box-sizing: border-box;
}

.credit_status {
  width: 12px;
  height: 12px;
  border-radius: 10px;
}

.credit_status--declined {
  background: var(--danger-color);
}
.credit_status--approved {
  background: var(--success-color);
}
