:root {
  --primary-color: #475ed0;
  --secondary-color: blue;
  --text-primary-color: #444;
  --text-secondary-color: #999;
  --page-background-color: #f8f9fa;
  --border-color: #ebecf0;
  --danger-color: #d32f2f;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-xl: 16px;

  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
}
