.button {
  width: 100px;
}

.body {
  max-height: 500px;
  overflow: auto;
}
.button_cancel {
  color: var(--text-secondary-color) !important;
}

.select {
  flex: 1;
}
.add_button {
  width: 100px;
}

.customer_name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.confirmation_block {
  padding: 10px;
}
.confirmation_block_divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirmation_row {
  width: 40% !important
}
